body{
  background-color: rgb(196, 99, 20);
}
.welcome{
  color: rgb(215, 240, 255);
  border-style: solid;
  border-color: black;
  border-radius: 2px;
  background-image: url("Desktop.jpg");
  background-size: 1400px 700px;
  margin: 5px;
  padding-top: 100px;
  height: 50vh;
  text-align: center;
  text-shadow: 1px 1px black;
}
.title{
  color: rgb(215, 240, 255);
  text-align: center;
  text-shadow: 2px 2px black;

}
.client{
  border-style: solid;
  border-color: black;
  border-radius: 2px;
  background-color: bisque;
  margin: 5px;
  padding: 3px;
}

.margin{
  margin: 5px;
}
